body
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #434343;
}
/*-------------header-left---------------------*/
.header__bg
{
    background: url("img/header_bg.png") no-repeat;
    /*padding-left: 260px;
    padding-top: 52px;*/
    /*padding-left: 300px;*/
}
.header-left__title
{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;

    color: #314AA5;
}

.header-left__text
{
    width: 657px;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    /* or 160% */
}

.header-left__text:before
{
    position: absolute;
    margin-left: -19px;
    margin-top: -49px;
    content: "";
    height: 199px;
    width: 1px;
    background-color: #D41F25;
}
.red-color
{
    color: #D41F25;
}
.btn-join
{
    padding: 15px 40px;
    margin-left: -20px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    background: #D41F25;
    /* identical to box height */

    text-transform: uppercase;
}

/*-------------------target--------------------*/
.target__span
{
    padding-left: 13px;
    padding-top: 7px;

    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;

    color: #40474E;
}
.target__img:before
{
    content: "";
    position: absolute;
    height: 131px;
    width: 1px;

    margin-left: -25px;
    margin-top: -83px;

    background-color: #D41F25;
}
.target__text
{
    width: 657px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    /* or 133% */

}
.target__text:before
{
    position: absolute;
    margin-left: -19px;

    content: "";
    height: 114px;
    width: 1px;
    background-color: #D41F25;
}
/*---------------meeting----------------------*/


.meeting__text
{
    width: 455px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5;
    /* or 147% */

    color: #434343;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .element {
        display: flex
    }
}