body{
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 1150px;
    padding: 15px 390px;
    display: flex;
    flex-direction: row;
}
.header_img{
    width: 5%;
}

.header_text{
    width: 35%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #D41F25;
}
.header_logo{
    width: 32%;

}
.header_btn{

}

.menu{
    width: 1150px;
    padding: 15px 390px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: aliceblue;
}
.menu_item{
    position: relative;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;

    cursor: pointer;
}
.menu_item:hover{
    color: gray;

}
.menu_drop:after{
    content: "";
    position: absolute;
    right: -15px;
    width: 7px;
    height: 7px;
    border-top: 2px gray solid;
    border-left: 2px gray solid;
    transform: rotate(-135deg);

}
/*---------------------header--------------------------*/
.container{
    width: 1087px;
    margin: 0 auto;
}
.logo{
    padding-top: 30px;
}
.logo_inner{
    text-align: center;
    background: url("img/bg_header.png") no-repeat;
}
.logo_title{
    /* 8 ОСНОВ СОЗИДАТЕЛЬНОГО ОБЩЕСТВА */

    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;

    color: #314AA5;
}

.logo_text{
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    /* or 160% */

    color: #434343;
}
/*-----------------------rules------------------------------*/
.rule_item{
    display: flex;
    flex-direction: row;
    width: 846px;
    margin: 20px auto;
}
.rule_number{
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background: #F6F7FB;
    margin-top: 20px;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: 900;
    font-size: 36px;

    color: rgba(227, 0, 0, 0.5);
}
.rule_number:hover{
    border: 1px solid #F22424;
}
.rule_data {
    width: 746px;
    padding-left: 19px;
    box-sizing: border-box;
}
.rule_title{
    margin-bottom: 5px;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.4;
}
.rule_text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5;
    /* or 147% */

    color: #434343;
}
/*---------------------------footer----------------------*/

.footer_inner{
    width: 846px;
    background: #FFFFFF;
    border: 15px solid #F6F7FB;
    box-sizing: border-box;

    padding: 55px 50px;
    margin: 0 auto;
    display: flex;
}

.footer_btn{
    width: 230px;
    height: 48px;
    margin-top: 15px;
    background: #D41F25;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    outline: none;
}

.footer_text{

    margin-left: 30px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    /* or 140% */

    color: #434343;
}
